<center>
  <a href="/<%=movieId%>/comments/es"><button class="button">Spanish</button></a
  ><br />
  <a href="/<%=movieId%>/comments/sk"
    ><button class="button button2">French</button></a
  ><br />
  <a href="/<%=movieId%>/comments/ru"
    ><button class="button button3">Russian</button> </a
  ><br />
  <a href="/<%=movieId%>/showComments"
    ><button class="button button4">Default</button> </a
  ><br />
</center>

<style>
  .button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    /* padding: 30px; */
    width: 150px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button2 {
    background-color: #008cba;
  } /* Blue */
  .button3 {
    background-color: #f44336;
  } /* Red */
  .button4 {
    background-color: #e7e7e7;
    color: black;
  } /* Gray */
</style>
